## Az eredményeket mentsd a src/weekly modul-ba weekly_test_4.py néven

#### Használható modulok: pandas, typing, matplotlib, random, src.distributions, src.weekly

In [126]:
import pandas
import pandas as pd
from typing import List, Dict
import matplotlib
import matplotlib.pyplot as plt

In [127]:
"""
1., Olvasd be a data mappa Euro_2012_stats_TEAM.csv nevű fájlját egy dataframe-be. A betöltött adatokat az euro12 alatt tárolja. A következő feladatokban a kiinduló fájlt ne írd felül.
"""

'\n1., Olvasd be a data mappa Euro_2012_stats_TEAM.csv nevű fájlját egy dataframe-be. A betöltött adatokat az euro12 alatt tárolja. A következő feladatokban a kiinduló fájlt ne írd felül.\n'

In [128]:
df_data = pd.read_csv('/Users/Enci/Documents/GitHub/ECOPY_23241/data/Euro_2012_stats_TEAM.csv')

In [129]:
df_data

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18

In [130]:
"""
2., Készíts egy függvényt, ami megmondja, hogy hány csapat indult az Európa Bajnokságon

függvény név: number_of_participants
bemenet: input_df
kimeneti típus: int
"""

'\n2., Készíts egy függvényt, ami megmondja, hogy hány csapat indult az Európa Bajnokságon\n\nfüggvény név: number_of_participants\nbemenet: input_df\nkimeneti típus: int\n'

In [131]:
def number_of_participants(input_df):
    return len(input_df['Team'])

In [132]:
number_of_participants(df_data)

16

In [133]:
"""
3., Készíts egy függvényt, ami visszadja a csapatokat és az áltatuk lőtt gólokat.

függvény név: goals
bemenet: input_df
kimeneti típus: pandas.core.frame.DataFrame
"""

'\n3., Készíts egy függvényt, ami visszadja a csapatokat és az áltatuk lőtt gólokat.\n\nfüggvény név: goals\nbemenet: input_df\nkimeneti típus: pandas.core.frame.DataFrame\n'

In [134]:
def goals(input_df):
    new_df =input_df.copy()
    new_df = new_df[['Team', 'Goals']]
    
    return new_df

In [135]:
goals(df_data)

                   Team  Goals
0               Croatia      4
1        Czech Republic      4
2               Denmark      4
3               England      5
4                France      3
5               Germany     10
6                Greece      5
7                 Italy      6
8           Netherlands      2
9                Poland      2
10             Portugal      6
11  Republic of Ireland      1
12               Russia      5
13                Spain     12
14               Sweden      5
15              Ukraine      2

In [136]:
"""
4., Készíts egy függvényt, ami sorba rendezi az országokat a lőtt gólok száma alapján csökkenő sorrendben. Használd az előző  függvény eredményét.

függvény név: sorted_by_goal
bemenet: input_df
kimeneti típus: pandas.core.frame.DataFrame

"""

'\n4., Készíts egy függvényt, ami sorba rendezi az országokat a lőtt gólok száma alapján csökkenő sorrendben. Használd az előző  függvény eredményét.\n\nfüggvény név: sorted_by_goal\nbemenet: input_df\nkimeneti típus: pandas.core.frame.DataFrame\n\n'

In [137]:
def sorted_by_goal(input_df):
    new_df = goals(input_df)
    return new_df.sort_values(by=['Goals'], ascending=False)

In [138]:
sorted_by_goal(df_data)

                   Team  Goals
13                Spain     12
5               Germany     10
7                 Italy      6
10             Portugal      6
3               England      5
6                Greece      5
12               Russia      5
14               Sweden      5
0               Croatia      4
1        Czech Republic      4
2               Denmark      4
4                France      3
8           Netherlands      2
9                Poland      2
15              Ukraine      2
11  Republic of Ireland      1

In [139]:
"""
5., Készíts egy függvényt, ami visszaadja az átlagos gól számot.

függvény név: avg_goal
bemenet: input_df
kimeneti típus: float

"""

'\n5., Készíts egy függvényt, ami visszaadja az átlagos gól számot.\n\nfüggvény név: avg_goal\nbemenet: input_df\nkimeneti típus: float\n\n'

In [140]:
def avg_goal(input_df):
    return input_df['Goals'].mean()

In [141]:
avg_goal(df_data)

4.75

In [142]:
"""
6., Készíts egy függvényt, ami visszadja azokat az országokat akik 6 vagy több gólt rúgtak

függvény név: countries_over_five
bement: input_df
kimeneti típus: pandas.core.frame.DataFrame

"""

'\n6., Készíts egy függvényt, ami visszadja azokat az országokat akik 6 vagy több gólt rúgtak\n\nfüggvény név: countries_over_five\nbement: input_df\nkimeneti típus: pandas.core.frame.DataFrame\n\n'

In [143]:
def countries_over_five(input_df):
    new_df = input_df.copy()
    new_df = input_df[(input_df['Goals'] > 5)]
    return new_df[['Team']]

In [144]:
countries_over_five(df_data)

        Team
5    Germany
7      Italy
10  Portugal
13     Spain

In [145]:
"""
7., Készíts egy függvényt, ami visszaadja azon országok neveit, amelyek neve 'G'-vel kezdődik

fv. neve: countries_starting_with_g
bemenet: input_df
kimeneti típus: pandas.core.frame.DataFrame
"""

"\n7., Készíts egy függvényt, ami visszaadja azon országok neveit, amelyek neve 'G'-vel kezdődik\n\nfv. neve: countries_starting_with_g\nbemenet: input_df\nkimeneti típus: pandas.core.frame.DataFrame\n"

In [146]:
def countries_starting_with_g(input_df):
    new_df = input_df.copy()
    new_df = input_df[(input_df['Team'].str.startswith('G'))]
    return new_df[['Team']]

In [147]:
countries_starting_with_g(df_data)

      Team
5  Germany
6   Greece

In [148]:
"""
8. Készíts egy függvényt, ami visszaadja az első 7 oszlopot. Használja a kiinduló adatokat

fv. név: first_seven_columns
bemenet: input_df
return típus: pandas.core.frame.DataFrame

"""

'\n8. Készíts egy függvényt, ami visszaadja az első 7 oszlopot. Használja a kiinduló adatokat\n\nfv. név: first_seven_columns\nbemenet: input_df\nreturn típus: pandas.core.frame.DataFrame\n\n'

In [149]:
def first_seven_columns(input_df):
    return input_df.iloc[:,:7]

In [150]:
first_seven_columns(df_data)

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked)
0,Croatia,4,13,12,51.9%,16.0%,32
1,Czech Republic,4,13,18,41.9%,12.9%,39
2,Denmark,4,10,10,50.0%,20.0%,27
3,England,5,11,18,50.0%,17.2%,40
4,France,3,22,24,37.9%,6.5%,65
5,Germany,10,32,32,47.8%,15.6%,80
6,Greece,5,8,18,30.7%,19.2%,32
7,Italy,6,34,45,43.0%,7.5%,110
8,Netherlands,2,12,36,25.0%,4.1%,60
9,Poland,2,15,23,39.4%,5.2%,48
10,Portugal,6,22,42,34.3%,9.3%,82
11,Republic of Ireland,1,7,12,36.8%,5.2%,28
12,Russia,5,9,31,22.5%,12.5%,59
13,Spain,12,42,33,55.9%,16.0%,100
14,Sweden,5,17,19,47.2%,13.8%,39
15,Ukraine,2,7,26,21.2%,6.0%,38

In [151]:
"""
9. Készíts egy függvényt, ami visszaadja az összes oszlopot az utolsó 3-on kívül. Használja a kiinduló adatokat

fv. név: every_column_except_last_three
bemenet: input_df
return típus: pandas.core.frame.DataFrame

"""

'\n9. Készíts egy függvényt, ami visszaadja az összes oszlopot az utolsó 3-on kívül. Használja a kiinduló adatokat\n\nfv. név: every_column_except_last_three\nbemenet: input_df\nreturn típus: pandas.core.frame.DataFrame\n\n'

In [152]:
def every_column_except_last_three(input_df):
    return input_df.iloc[:,:-3 ]

In [153]:
every_column_except_last_three(df_data)

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Clean Sheets,Blocks,Goals conceded,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,0,10,3,13,81.3%,41,62,2,9,0
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,1,10,6,9,60.1%,53,73,8,7,0
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,1,10,5,10,66.7%,25,38,8,4,0
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,2,29,3,22,88.1%,43,45,6,5,0
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,1,7,5,6,54.6%,36,51,5,6,0
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,1,11,6,10,62.6%,63,49,12,4,0
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,1,23,7,13,65.1%,67,48,12,9,1
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,2,18,7,20,74.1%,101,89,16,16,0
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,0,9,5,12,70.6%,35,30,3,5,0
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,0,8,3,6,66.7%,48,56,3,7,1
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,2,11,4,10,71.5%,73,90,10,12,0
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,0,23,9,17,65.4%,43,51,11,6,1
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,0,8,3,10,77.0%,34,43,4,6,0
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,5,8,1,15,93.8%,102,83,19,11,0
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,1,12,5,8,61.6%,35,51,7,7,0
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,0,4,4,13,76.5%,48,31,4,5,0

In [154]:
"""
10. Készíts egy függvényt, amely tetszőleges oszlopokat és sorokat ad vissza a bemeneti adatokból. A sorokat és oszlopokat listák formájában adjuk be a függvénynek. A sorokat egy bemeneti oszlop alapján szűrjük

fv. név: sliced_view
bemenet: input_df, columns_to_keep, column_to_filter, rows_to_keep
return type: pandas.core.frame.DataFrame

"""

'\n10. Készíts egy függvényt, amely tetszőleges oszlopokat és sorokat ad vissza a bemeneti adatokból. A sorokat és oszlopokat listák formájában adjuk be a függvénynek. A sorokat egy bemeneti oszlop alapján szűrjük\n\nfv. név: sliced_view\nbemenet: input_df, columns_to_keep, column_to_filter, rows_to_keep\nreturn type: pandas.core.frame.DataFrame\n\n'

In [155]:
def sliced_view(input_df, columns_to_keep, column_to_filter, rows_to_keep):

SyntaxError: incomplete input (1690186713.py, line 1)

In [ ]:
"""
11. Készíts egy függvényt, ami a bemeneti adatokat kiegészíti egy 'Quartile' oszloppal. A kvartilis oszlop értékeit a lőtt gólok alapján határozza meg:

6 - 12: 1
5 - 5: 2
3 - 4: 3
0 - 2: 4

fv. név: generate_quartile
bemenet: input_df
return type: pandas.core.frame.DataFrame

"""

In [ ]:
def generate_quartile(input_df):
    
    new_df = input_df.copy()
    def conditions(s):
        if s <= 2:
            return 4
        elif s <= 4:
            return 3
        elif s <= 5:
            return 2
        else:
            return 1

    new_df['Quartile'] = new_df.Goals.apply(conditions)
    return new_df

In [ ]:
generate_quartile(df_data)

In [ ]:
"""
12., Készíts egy függvényt, ami minden kvartilis értékhez kiszámítja, hogy átlagosan hány passzot adtak.

fn név: average_yellow_in_quartiles
bemenet: input_df
return type: pandas.core.frame.DataFrame

"""

In [ ]:
def  average_yellow_in_quartiles(input_df):
    new_df = generate_quartile(input_df)
    new_df = new_df.groupby('Quartile')['Passes'].mean().reset_index()
    return new_df

In [ ]:
average_yellow_in_quartiles(df_data)

In [ ]:
"""
13., Készíts egy függvényt ami minden kvartilis esetén visszadja a blokkok (Blocks) minimális és maximális értékét.

fv. név: minmax_block_in_quartile
bemenet: input_df
return type: pandas.core.frame.DataFrame
"""

In [ ]:
def minmax_block_in_quartile(input_df):
    new_df = generate_quartile(input_df)
    new_df = new_df.groupby('Quartile')
    return new_df['Blocks'].agg(['min', 'max'])

In [ ]:
minmax_block_in_quartile(df_data)

In [ ]:
"""
14., Készíts egy függvényt, ami scatter_plot-on ábrázolja a gólok és a kaput ért találatok kapcsolatát.

fv név: scatter_goals_shots
bemenet: input_df
X tengelyen: Goals
y tengelyen: Shots on target
title: 'Goals and Shot on target'
Tengely feliratok egyezenek meg az oszlop nevekkel

return type: matplotlib.figure.Figure
"""

In [ ]:
def scatter_goals_shots(input_df):
    fig, ax = plt.subplots()
    ax.scatter(x=input_df['Goals'], y=input_df['Shots on target'])

    ax.set_xlabel('Goals')
    ax.set_ylabel('Shot on target')
    ax.set_title('Goals and Shot on target')
    
    return fig

In [ ]:
scatter_goals_shots(df_data)

In [ ]:
"""
15., Készíts egy függvényt, ami scatter_plot-on ábrázolja a gólok és a kaput ért találatok kapcsolatát. A különböző kvartiliseket különböző színek jelöljék. A színek mellett jelenjen meg jelmagyarázat.

fv név: scatter_goals_shots_by_quartile
bemenet: input_df
X tengelyen: Goals
y tengelyen: Shots on target
title: 'Goals and Shot on target'
Tengely feliratok egyezenek meg az oszlop nevekkel
Jelmagyarázat címe: Quartiles

return type: matplotlib.figure.Figure
"""

In [ ]:
def scatter_goals_shots_by_quartile(input_df):
    fig, ax = plt.subplots()
    
    ax.scatter(x=input_df['Goals'], y=input_df['Shots on target'])

    ax.set_xlabel('Goals')
    ax.set_ylabel('Shot on target')
    ax.set_title('Goals and Shot on target')
    return fig

In [ ]:
"""
16. Készíts egy függvényt, ami létrehoz egy listát, benne number_of_trajectories db listával. A belső listák létrehozásának logikája a következő:
    A bemeneti paraméterként kapott pareto_distribution osztály felhasználásával (ParetoDistribution 1,1 paraméterekkel) generálj length_of_trajectory véletlen számot
    A belső lista tartalmazza a generált számok kumulatív átlagát.
    Ismételd meg number_of_trajectories alkalommal (mindegyik belső listába egyszer)
    A seed értéke legyen 42.

függvény bemenete: pareto_distribution, number_of_trajectories, length_of_trajectory
kimeneti típus: List    
függvény neve: gen_pareto_mean_trajectories
"""