## Az eredményeket mentsd a src/weekly modul-ba weekly_test_5.py néven

#### Használható modulok: pandas, typing, matplotlib, random, src.utils, src.weekly, str

In [3]:
from pathlib import Path

file_to_load = Path.cwd().parent.joinpath('data').joinpath('chipotle.tsv')

In [4]:
import pandas as pd
import matplotlib as plt
import random as rand
import typing as tp

In [ ]:
"""
1., Olvasd be a data mappa chipotle.tsv nevű fájlját egy dataframe-be. A betöltött   adatokat food nevű változóban mentse. A következő feladatokban a kiinduló fájlt csak akkor írd felül, ha jelezve van.
"""

In [5]:
food = pd.read_csv('/Users/Enci/Documents/GitHub/ECOPY_23241/data/chipotle.tsv', sep='\t')

In [176]:
food

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [136]:
"""
2., Készts egy függvényt, ami a bemeneti adattömbben átalakítja az item_price értékeit float-ra. Az eredeti adatokat a függvény ne módosítsa. A kapott, tisztított adatokkal írd felül a food változót.

függvény név: change_price_to_float
bemenet: input_df
kimeneti típus: pandas.core.frame.DataFrame
"""

'\n2., Készts egy függvényt, ami a bemeneti adattömbben átalakítja az item_price értékeit float-ra. Az eredeti adatokat a függvény ne módosítsa. A kapott, tisztított adatokkal írd felül a food változót.\n\nfüggvény név: change_price_to_float\nbemenet: input_df\nkimeneti típus: pandas.core.frame.DataFrame\n'

In [12]:
def change_price_to_float(input_df):
    input_df['item_price'] =  input_df['item_price'].str.replace('$', '').astype(float)
    return input_df

In [13]:
change_price_to_float(food)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [14]:
food.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

In [139]:
"""
3., Készíts egy függvényt, ami megmondja, hogy hány megfigyelés található az adathalmazban

függvény név: number_of_observations
bemenet: input_df
kimeneti típus: int
"""

'\n3., Készíts egy függvényt, ami megmondja, hogy hány megfigyelés található az adathalmazban\n\nfüggvény név: number_of_observations\nbemenet: input_df\nkimeneti típus: int\n'

In [140]:
def number_of_observations(input_df):
    return len(input_df.index)

In [141]:
number_of_observations(food)

4622

In [142]:
"""
4., Készíts egy függvényt, ami visszadja a termék neveket és az áraikat.

függvény név: items_and_prices
bemenet: input_df
kimeneti típus: pandas.core.frame.DataFrame
"""

'\n4., Készíts egy függvényt, ami visszadja a termék neveket és az áraikat.\n\nfüggvény név: items_and_prices\nbemenet: input_df\nkimeneti típus: pandas.core.frame.DataFrame\n'

In [143]:
def items_and_prices(input_df):
    return food[['item_name', 'item_price']]

In [144]:
items_and_prices(food)

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

In [145]:
"""
5., Készíts egy függvényt, ami sorba rendezi az termékeket az áruk alapján, csökkenő sorrendben. Használd az előző  függvény eredményét.

függvény név: sorted_by_price
bemenet: input_df
kimeneti típus: pandas.core.frame.DataFrame

"""

'\n5., Készíts egy függvényt, ami sorba rendezi az termékeket az áruk alapján, csökkenő sorrendben. Használd az előző  függvény eredményét.\n\nfüggvény név: sorted_by_price\nbemenet: input_df\nkimeneti típus: pandas.core.frame.DataFrame\n\n'

In [146]:
def sorted_by_price(input_df):
    return items_and_prices(input_df).sort_values(by=['item_price'], ascending=False)

In [147]:
sorted_by_price(food)

                         item_name  item_price
3598  Chips and Fresh Tomato Salsa       44.25
3480                 Carnitas Bowl       35.25
1254               Chicken Burrito       35.00
3602               Chicken Burrito       35.00
3601                Veggie Burrito       33.75
...                            ...         ...
3936                   Canned Soda        1.09
2922                 Bottled Water        1.09
1396                   Canned Soda        1.09
2562                   Canned Soda        1.09
1457                   Canned Soda        1.09

[4622 rows x 2 columns]

In [148]:
"""
6., Készíts egy függvényt, ami visszaadja az átlagos árat.

függvény név: avg_price
bemenet: input_df
kimeneti típus: float

"""

'\n6., Készíts egy függvényt, ami visszaadja az átlagos árat.\n\nfüggvény név: avg_price\nbemenet: input_df\nkimeneti típus: float\n\n'

In [149]:
def avg_price(input_df):
    return input_df['item_price'].mean()

In [150]:
avg_price(food)

7.464335785374297

In [151]:
"""
7., Készíts egy függvényt, ami visszadja azokat az egyedi termékeket (név, feltét és ár szempontjából egyedi), amelyek ára 10 dollár felett van

függvény név: unique_items_over_ten_dollars
bement: input_df
kimeneti típus: pandas.core.frame.DataFrame

"""

'\n7., Készíts egy függvényt, ami visszadja azokat az egyedi termékeket (név, feltét és ár szempontjából egyedi), amelyek ára 10 dollár felett van\n\nfüggvény név: unique_items_over_ten_dollars\nbement: input_df\nkimeneti típus: pandas.core.frame.DataFrame\n\n'

In [173]:
def unique_items_over_ten_dollars(input_df):
    new_df = input_df.copy()
    new_df = new_df.drop_duplicates(subset=["item_name", "choice_description", "item_price"])[(input_df["item_price"] > 10)]
    return new_df

In [174]:
unique_items_over_ten_dollars(food)

/var/folders/zv/1387mlld38d93m6sfhjm8jn80000gp/T/ipykernel_22115/2894787010.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  new_df = new_df.drop_duplicates(subset=["item_name", "choice_description", "item_price"])[(input_df["item_price"] > 10)]

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
...,...,...,...,...,...
4593,1825,1,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream, ...",11.75
4594,1825,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Sour ...",11.75
4607,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",11.75
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25

In [154]:
"""
8., Készíts egy függvényt, ami visszaadja azon termékek neveit, amelyek neve 'S'-el kezdődik.

fv. neve: items_starting_with_s
bemenet: input_df
kimeneti típus: pandas.core.frame.DataFrame
"""

"\n8., Készíts egy függvényt, ami visszaadja azon termékek neveit, amelyek neve 'S'-el kezdődik.\n\nfv. neve: items_starting_with_s\nbemenet: input_df\nkimeneti típus: pandas.core.frame.DataFrame\n"

In [161]:
def items_starting_with_s(input_df):
    new_df = input_df[(input_df['item_name'].str.startswith('S'))]
    return new_df['item_name'].drop_duplicates()

In [162]:
items_starting_with_s(food)

6            Side of Chips
7            Steak Burrito
8         Steak Soft Tacos
54              Steak Bowl
92      Steak Crispy Tacos
281       Steak Salad Bowl
664            Steak Salad
1414                 Salad
Name: item_name, dtype: object

In [ ]:
"""
9. Készíts egy függvényt, ami visszaadja az első 3 oszlopot. Használd a tisztított.

fv. név: first_three_columns
bemenet: input_df
return típus: pandas.core.frame.DataFrame

"""

In [53]:
food

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [59]:
def first_three_columns(input_df):
    return input_df.iloc[:,:3]

In [60]:
first_three_columns(food)

      order_id  quantity                              item_name
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

[4622 rows x 3 columns]

In [ ]:
"""
10. Készíts egy függvényt, ami visszaadja az összes oszlopot az utolsó 2-on kívül. Használd a tisztított adatokat.

fv. név: every_column_except_last_two
bemenet: input_df
return típus: pandas.core.frame.DataFrame

"""

In [61]:
def every_column_except_last_two(input_df):
    return input_df.iloc[:,:-2]

In [62]:
every_column_except_last_two(food)

      order_id  quantity                              item_name
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

[4622 rows x 3 columns]

In [ ]:
"""
11. Készíts egy függvényt, amely tetszőleges oszlopokat és sorokat ad vissza a bemeneti adatokból. A sorokat és oszlopokat listák formájában adjuk be a függvénynek. A sorokat egy bemeneti oszlop alapján szűrjük.

fv. név: sliced_view
bemenet: input_df, columns_to_keep, column_to_filter, rows_to_keep
return type: pandas.core.frame.DataFrame

"""

In [171]:
def sliced_view(input_df, columns_to_keep, column_to_filter, rows_to_keep):
    new_df = input_df[input_df[column_to_filter].isin(rows_to_keep)]
    new_df = new_df[columns_to_keep]
    return new_df

In [172]:
sliced_view(food, ['quantity', 'item_name', 'item_price'], 'order_id', [1, 2, 4, 6])

    quantity                              item_name  item_price
0          1           Chips and Fresh Tomato Salsa        2.39
1          1                                   Izze        3.39
2          1                       Nantucket Nectar        3.39
3          1  Chips and Tomatillo-Green Chili Salsa        2.39
4          2                           Chicken Bowl       16.98
7          1                          Steak Burrito       11.75
8          1                       Steak Soft Tacos        9.25
11         1                   Chicken Crispy Tacos        8.75
12         1                     Chicken Soft Tacos        8.75

In [66]:
"""
12. Készíts egy függvényt, ami a bemeneti adatokat kiegészíti egy 'Quartile' oszloppal. Használd a tisztított adatokat. A kvartilis oszlop értékeit az ár alapján határozza meg:

30 - : 'premium'
20 - 29.99: 'high-cost'
10 - 19.99: 'medium-cost
0 - 9.99: 'low-cost'

fv. név: generate_quartile
bemenet: input_df
return type: pandas.core.frame.DataFrame

"""

"\n12. Készíts egy függvényt, ami a bemeneti adatokat kiegészíti egy 'Quartile' oszloppal. Használd a tisztított adatokat. A kvartilis oszlop értékeit az ár alapján határozza meg:\n\n30 - : 'premium'\n20 - 29.99: 'high-cost'\n10 - 19.99: 'medium-cost\n0 - 9.99: 'low-cost'\n\nfv. név: generate_quartile\nbemenet: input_df\nreturn type: pandas.core.frame.DataFrame\n\n"

In [69]:
def generate_quarters(input_df):
    new_df = input_df.copy()
    def conditions(s):
        if s <= 9.99:
            return 'low_cost'
        elif s <= 19.99:
            return 'medium_cost'
        elif s <= 29.99:
            return 'high_cost'
        else:
            return 'premium'

    new_df['Quartile'] = new_df.item_price.apply(conditions)
    return new_df

In [70]:
generate_quarters(food)

,order_id,quantity,item_name,choice_description,item_price,Quartile
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,low_cost
1,1,1,Izze,[Clementine],3.39,low_cost
2,1,1,Nantucket Nectar,[Apple],3.39,low_cost
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,low_cost
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,medium_cost
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,medium_cost
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,medium_cost
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,medium_cost
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,low_cost
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,low_cost

In [ ]:
"""
13., Készíts egy függvényt, ami minden kvartilis értékhez kiszámítja, az átlagos árat. Használd az előző feladat eredményét bemenetként.

fn név: average_price_in_quartiles
bemenet: input_df
return type: pandas.core.frame.DataFrame

"""

In [90]:
def average_price_in_quartiles(input_df):
    new_df = generate_quarters(input_df)
    new_df = new_df.groupby('Quartile')['item_price'].mean().to_frame()
    return new_df

In [91]:
average_price_in_quartiles(food)

             item_price
Quartile
high_cost     23.181951
low_cost       5.869593
medium_cost   11.853084
premium       36.031667

In [ ]:
"""
14., Készíts egy függvényt ami minden kvartilis esetén visszadja az árak minimális és maximális értékét, valamint az átlagát.

fv. név: minmaxmean_price_in_quartile
bemenet: input_df
return type: pandas.core.frame.DataFrame
"""

In [96]:
def minmaxmean_price_in_quartile(input_df):
    new_df = generate_quarters(input_df)
    new_df2 = new_df.groupby('Quartile')['item_price'].mean().to_frame()
    new_df2['max'] = new_df.groupby('Quartile')['item_price'].max()
    new_df2['min'] = new_df.groupby('Quartile')['item_price'].min()
    new_df2 = new_df2.rename(columns={"item_price": "avg"})
    return new_df2

In [97]:
minmaxmean_price_in_quartile(food)

                   avg    max    min
Quartile
high_cost    23.181951  27.75  21.96
low_cost      5.869593   9.39   1.09
medium_cost  11.853084  18.50  10.50
premium      36.031667  44.25  32.94

In [ ]:
"""
15. Készíts egy függvényt, ami létrehoz egy listát, benne number_of_trajectories db listával. A belső listák létrehozásának logikája a következő:
    A bemeneti paraméterként kapott distribution osztály felhasználásával (UniformDistribution 0,1 paraméterekkel) generálj length_of_trajectory véletlen számot
    A belső lista tartalmazza a generált számok kumulatív átlagát.
    Ismételd meg number_of_trajectories alkalommal (mindegyik belső listába egyszer)
    A seed értéke legyen 42.

függvény bemenete: distribution, number_of_trajectories, length_of_trajectory
kimeneti típus: List    
függvény neve: gen_uniform_mean_trajectories
"""

In [107]:
from src.utils import distributions as dist
from src.weekly import weekly_test_1 as w1

def generate_uniform_mean_trajectories(uniform_distribution: dist.UniformDistribution, number_of_trajectories, length_of_trajectory):
    l = []
    uniform_distribution.rand.seed(42)
    for i in range(0, number_of_trajectories):
        rand_num = []
        for j in range(0, length_of_trajectory):
            rand_num.append(uniform_distribution.gen_rand())
        l.append(w1.cumavg_list(rand_num))
    return l

In [108]:
generate_uniform_mean_trajectories(dist.UniformDistribution(rand,0,1), 5, 2)

[[0.6394267984578837, 0.33221877684027534],
 [0.27502931836911926, 0.249120028258971],
 [0.7364712141640124, 0.7065853507934619],
 [0.8921795677048454, 0.4895592001671308],
 [0.4219218196852704, 0.22585951956167039]]

In [ ]:
"""
16. Készíts egy függvényt, ami létrehoz egy listát, benne number_of_trajectories db listával. A belső listák létrehozásának logikája a következő:
    A bemeneti paraméterként kapott distribution osztály felhasználásával (LogisticDistribution 1, 3.3 paraméterekkel) generálj length_of_trajectory véletlen számot
    A belső lista tartalmazza a generált számok kumulatív átlagát.
    Ismételd meg number_of_trajectories alkalommal (mindegyik belső listába egyszer)
    A seed értéke legyen 42.

függvény bemenete: distribution, number_of_trajectories, length_of_trajectory
kimeneti típus: List    
függvény neve: gen_logistic_mean_trajectories
"""

In [ ]:
"""
17. Készíts egy függvényt, ami létrehoz egy listát, benne number_of_trajectories db listával. A belső listák létrehozásának logikája a következő:
    A bemeneti paraméterként kapott distribution osztály felhasználásával (LaplaceDistribution 1, 3.3 paraméterekkel) generálj length_of_trajectory véletlen számot
    A belső lista tartalmazza a generált számok kumulatív átlagát.
    Ismételd meg number_of_trajectories alkalommal (mindegyik belső listába egyszer)
    A seed értéke legyen 42.

függvény bemenete: distribution, number_of_trajectories, length_of_trajectory
kimeneti típus: List    
függvény neve: gen_laplace_mean_trajectories
"""

In [ ]:
"""
18. Készíts egy függvényt, ami létrehoz egy listát, benne number_of_trajectories db listával. A belső listák létrehozásának logikája a következő:
    A bemeneti paraméterként kapott distribution osztály felhasználásával (CauchyDistribution 2,4 paraméterekkel) generálj length_of_trajectory véletlen számot
    A belső lista tartalmazza a generált számok kumulatív átlagát.
    Ismételd meg number_of_trajectories alkalommal (mindegyik belső listába egyszer)
    A seed értéke legyen 42.

függvény bemenete: distribution, number_of_trajectories, length_of_trajectory
kimeneti típus: List    
függvény neve: gen_cauchy_mean_trajectories
"""

In [ ]:
"""
19. Készíts egy függvényt, ami létrehoz egy listát, benne number_of_trajectories db listával. A belső listák létrehozásának logikája a következő:
    A bemeneti paraméterként kapott distribution osztály felhasználásával (ChiSquaredDistribution 3 paraméterrel) generálj length_of_trajectory véletlen számot
    A belső lista tartalmazza a generált számok kumulatív átlagát.
    Ismételd meg number_of_trajectories alkalommal (mindegyik belső listába egyszer)
    A seed értéke legyen 42.

függvény bemenete: distribution, number_of_trajectories, length_of_trajectory
kimeneti típus: List    
függvény neve: gen_chi2_mean_trajectories
"""